




.container-principal{
    background-image: url(https://images.squarespace-cdn.com/content/v1/5eb28bf289581347669d260d/1588759546873-6MJGJOENPSLL42MAKIHX/Stocksy_txp0f79248d7x2100_Large_461841-copy.jpg?format=1500w);
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.2);
    background-blend-mode: darken;
    overflow: hidden;
}
.navbar {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}
header a{
    font-family:Arial, Helvetica, sans-serif;
    align-items: center;
    color: aliceblue;

}




.cover2{

    margin-top: 8.5cm;
    margin-right: 2cm;
    padding-inline-start: 2cm;
    color:aliceblue;
}



